﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1 class="display-4">Plataforma IoT</h1>
                <p class="lead">Monitorea y Administra los sensores y actuadores de tu casa desde internet usando IoT.</p>
                <hr class="my-4">
                <p>
                    Instituto Tecnológico Superior de Huichapan <br />
                    Ingenieria en Sistemas Computacionales<br />
                    Internet de las Cosas<br />
                    MIDS. Carlos Arturo Espinoza Galicia<br />
                    <div class="alert alert-light" role="alert">
                        <a href="mailto:cespinoza@iteshu.edu.mx">cespinoza@iteshu.edu.mx</a>
                    </div>
                    
                </p>
            </div>
            <div class="col-sm">
                <div class="container">
                    <div class="row">
                        <form method="post">
                            <div class="container">
                                <div class="row">
                                    <h2>Inicia Sesión</h2>
                                </div>
                                <div class="row">
                                    Correo: <input type="email" asp-for="Login.Correo" class="form-control" placeholder="usuario@correo.com" required />
                                </div>
                                <div class="row">
                                    Constraseña: <input type="password" asp-for="Login.Password" class="form-control" placeholder="Contraseña" required />
                                </div>
                                <div class="row">
                                    <input type="hidden" asp-for="EsLogin" value="true" /><br />
                                    <input type="submit" class="btn btn-success" value="Iniciar Sesión" />
                                </div>
                                <div class="row">
                                    @if (Model.Error != null)
                                    {
                                        <div class="alert alert-danger" role="alert">
                                            @Model.Error
                                        </div>
                                    }
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col">
                            <br /><br />
                            <form method="post">
                                <input type="hidden" asp-for="EsLogin" value="false" />
                                <input type="submit" class="btn btn-primary" value="Crear usuario" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
