﻿@page
@model SolucionIoT.Web.PanelUsuario
@{
    ViewData["Title"] = "PanelUsuario";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Panel de Usuario</h1>
<div class="alert alert-danger" role="alert">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                Bienvenido @Model.DatosPanelUsuario.Usuario.Nombre
            </div>
            <div class="col-sm">
               
            </div>
            <div class="col-sm">
                <a class="btn btn-warning" asp-page="/logout">Salir</a>
            </div>
        </div>
    </div>
    
</div>

<h2>Mis Dispositivos</h2>
<a class="btn btn-primary" asp-page="/NuevoDispositivo" asp-route-id="@Model.DatosPanelUsuario.Usuario.Id">Agregar Dispositivo</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Ubicación</th>
            <th scope="col">Relevador 1</th>
            <th scope="col">Relevador 2</th>
            <th scope="col">Relevador 3</th>
            <th scope="col">Relevador 4</th>
            <th scope="col">Buzzer</th>
            <th scope="col">PIR</th>
            <th scope="col">Detalle</th>
            <th scope="col">Eliminar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DatosPanelUsuario.Dispositivos)
        {
            <tr>
                <td scope="row">@item.Id </td>
                <td>@item.Ubicacion </td>
                <td>@item.UsoRelevador1 </td>
                <td>@item.UsoRelevador2 </td>
                <td>@item.UsoRelevador3 </td>
                <td>@item.UsoRelevador4 </td>
                <td>@item.UsoBuzzer </td>
                <td>@item.UbicacionPIR </td>
                <td><a asp-page="/DetallesDispositivo" asp-route-id="@item.Id" class="btn btn-primary">Ver</a></td>
                <td><a asp-page="/EliminaDispositivo" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a></td>
                
            </tr>
        }

        
    </tbody>
</table>
